.active {
    color: forestgreen;
    border-color: forestgreen;
}

.semi-active {
    color: darkorange;
    border-color: darkorange;
}

.inactive {
    color: red;
    border-color: red;
}

.filters {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.filters > * {
    margin-right: 10px;
}

.search-filter {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 11px 10px 12px;
    width: 250px;
}

.filter-multi-select {
    display: inline-block;
    width: 200px;
}

.hidden {
    display: none;
}