.App {
  font-family: sans-serif;
  padding: 0 100px;
  color: #58585b;
}

.App-header {
  padding: 50px 0;
  display: flex;
}

.App-header-title {
  flex: 1;
}

.App-header-buttons button {
  margin-left: 10px;
}

.App-body {

}


.active {
  color: forestgreen;
  border-color: forestgreen;
}

.semi-active {
  color: darkorange;
  border-color: darkorange;
}

.inactive {
  color: red;
  border-color: red;
}
