body {
  margin: 0;
  font-family: sans-serif;
  font-size: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.link-button {
  display: inline-block;
  background: #7D8BA1;
  color: white;
  padding: 3px 5px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
}

.link-button.spacious {
  padding: 10px;
}

.link-button.active,
.link-button:hover {
  background: #7D8BA1;
}

.margin-left {
  margin-left: 10px;
}

.align-right {
  text-align: right;
}
